release.tgz
release/
*.class
*.jar
/.lein-*
/.nrepl-port
/.repl
/checkouts/
/classes/
/lib/
/log/
/out/
/resources/public/js/compiled/**
/target/
figwheel_server.log
pom.xml
pom.xml.asc
/dev-target
FRONTEND/target/**
BACKEND/target/**
frontend/target/**
backend/target/**
/FRONTEND/.nrepl-port
/frontend/.nrepl-port
frontend/resources/public/maks-tycoon/prod/**
frontend/resources/public/maks-tycoon/cljs-out/**
